<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/logar.js"></script>

    
</head>

<body>
    <header>
        <% include include/header %>

    </header>

    <section id="dash">
        <% include include/sidebar %>

        <section id="dashContent">
            <div id="linha1">
                <section class="dashBox" id="aquariuNumero">
                    <span class="dashLabel">Aquario:</span>
                    <span id="qtdDado" class="dashDado"><%- dados.id %></span>
                    <i class="fas fa-fish iconeTemp "></i>
                </section>

                <section class="dashBox" id="tempMedidor">
                    <span class="dashLabel">Temperatura:</span>
                    <span id="tempDado" class="dashDado"><%- dados.temperatura %> °C</span>
                    <i class="fas fa-thermometer-half iconeTemp azulTexto"></i>
                </section>

                <section class="dashBox" id="luminoMedidor">
                    <span class="dashLabel">Luminosidade:</span>
                    <span id="luminoDado" class="dashDado"><%- dados.luminosidade %> Lumens </span>
                    <i class="fas fa-lightbulb iconeTemp amareloTexto"></i>
                </section>

            </div>
            <div id="linha2">
                <section class="dashBox" id="alimentacao">
                    <i class="fas fa-utensils iconeTemp "></i>
                    <span class="dashLabel">Proxima Alimentação:</span>
                    <div class="clear"></div>
                    <div id="horaDado" class="dashDado"></div>
                    <div id="dataAlimento"></div>
                    <hr>
                    <span class="dashLabel">Proximas Alimentaçôes:</span>
                    <div id="tabelaAlimenta">
                            
                    </div>

                </section>
                <section class="dashBox" id="graficoLumino">
                    <span class="dashLabel">Grafico de Luminosidade:</span>
                    <i class="fas fa-fish iconeTemp "></i>
                    <canvas id="graficoLuminosidade"></canvas>

                </section>

            </div>
            <section class="dashBox" id="graficoTemp">
                    <span class="dashLabel">Grafico de Temperatura:</span>
                    <i class="fas fa-fish iconeTemp"></i>
                    <canvas id="graficoTemperatura"></canvas>
                </section>

        </section>




    </section>


</body>
<script src="js/scripts.js"></script>
<script src="js/index.js"></script>
<script src="js/grafico.js"></script>
</html>