
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Configuração de Planta</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    
</head>

<body>
    <header>
      <% include include/header %>

    </header>

    <section id="dash">
        <% include include/sidebar %>

        <section id="dashForm">
                <span class="dashLabel">Configuração de Plantas:</span>
                <form name="plantas">
                <select name="opcaoPlanta"> 
                        <option value="a">Anubia</option>
                        <option value="b">Microsorum</option>
                        <option value="c">Crypto</option>
                        <option value="d">Hygrophila</option>
                        <option value="e">Alface da Agua</option>
                      </select>
                    <button onclick="configPlantas()">Adicionar</button>
                
                </form>
                
               
        </section>




    </section>


</body>
<script src="js/scripts.js"></script>
<script src="js/configuracoes.js"></script>
</html>